@import 'partials/normalise';
@import 'partials/typography';

.CardGrid {
    border: 1px solid black;
    padding: 50px 20px;
}

.displayCards{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.SingleCard {
    border: 1px solid pink;
    width: 300px;
}

.wrapper {
    width: 95%;
    max-width: 1250px;
    margin: 0 auto;
}