@import 'partials/normalise';
@import 'partials/variables';
@import 'partials/buttonForm';
@import 'partials/mixins';
@import 'partials/typography';
@import 'partials/splash';
@import 'partials/login';
@import 'partials/navBar';
@import 'partials/franchise';
@import 'partials/cardGrid';
@import 'partials/singleCard';
@import 'partials/cardDetail';
@import 'partials/addDeck';
@import 'partials/singleFranchise';

.wrapper {
    width: 95%;
    max-width: 1250px;
    margin: 0 auto;
    padding-top: 20px; 
    @media (max-width: 480px) {
        // padding-top: 20px; 
        padding-left: 40px;
    }
}

.flex{
    display: flex;
}

img{
    max-width: 100%;
}