.cardDetails {
   margin-top: 50px;
   padding: 0 20px;
   @extend .flex;

   h2 {
      @extend .flex;
      align-items: center;
   }
}

.detailsContent {
   width: 70%;
   margin-left: 5%;
   // border: 1px solid blue;
}

.cardDetails .detailsContainer {
   @extend .flex;
   justify-content: space-between;
   width: 50%;
   // border: 1px solid pink;
   margin-bottom: 15px;
}