.CardGrid {
    // border: 1px solid black;
    padding: 50px 20px;
}

.cardGridTitle{
    width: 30%;
    margin: 0 auto;
    @media (max-width: 480px) {
        width: 80%;
    }
}

.filter{
    margin: 0 auto;
    width: 50%;
    @include flex(column, center,center);
    border-bottom: 3px solid $text;
    position: relative;

    h3 {
       text-align: center;
    }
    @media (max-width: $break-xsm) {
        width: 80%;
    }
}

.selectTypeContainer {
   @include flex(row, center, center);
   margin-bottom: 20px;
}

.clearContainer {
   @include flex(row, center, center);
}

.displayCards{
    max-width: 100%;
    @include flex (row, center, center);
    flex-wrap: wrap;
    margin-top: 30px;
    h3{
        @extend .button;
        text-align: center;
        background: $primary;
        padding: 10px;
        color: white;
    }
}

.selectType{
    input[type="radio"]{
        display: none;
    }
    padding-bottom: 40px;
}

#selectSet{
    font-size: 1.5rem;
    width: 300px;
    height: 50px;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 20px;
    @media (max-width: $break-xsm) {
        width: 225px;
    }
}

.clear{
    @extend .button;
}

.load{
    @extend .button;   
    margin-left: 60px;
}