.NavBar{
    background: $primary;
    position: fixed;
    width: 100%;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
    padding: 0 10px;
    @include flex(row, center, space-between);
    @media (max-width: 480px) {
        @include flex(column, center, space-between);
        width: 50px;
        height: 100vh;
        padding: 10px 0;
    }
}
.navLogo{
    width: 30px;
}
.navIcon{
    width: 30px;
    // &:hover{
    //     transform: scale(1.2px);
    // }
}
.logInIntro{
    color: white;
    text-transform: uppercase;
    @media (max-width: 480px) {
        display: none;
    }
}