
.splashPage{
    width: 100%;
    height: 100vh;
    background: linear-gradient($primary, $secondary);
    @include flex(row, center, center);
}
.splashContentContainer{
    width: 600px;
    @include flex(column, center, space-between);
    @media (max-width: 480px) {
        width: 300px;
    }
    h2{
        @include text(400, 1.2px, white);
        text-align: center;
        text-transform: uppercase;
        font-size: 4rem;
    }
    h3{
        @include text(400, 1.2px, white);
        text-align: center; 
    }
    h4{
        @include text(400, 1.2px, white);
        text-transform: uppercase;
        text-align: center;
    }
    .appTitle{
        margin-bottom: 100px;
    }
    // .appEntry{
    //     margin-top: 100px;
    // }
}
.logo{
    // width: 50%;
    text-shadow: 0px 8px 10px rgba(0,0,0,0.5);
    @include flex(row, center, center);
    span{
        @include text(200, 1.5px, white);
        text-transform: lowercase;
    }
    h1{
        @include text(400, 1.2px, $text);
        text-transform: uppercase;
        font-size: 6rem;
    }
}
.logoContainer{
    width: 50px;
}