html {
    font-size: 62.5%; /* makes font 10px */
    font-family: $primaryFont;
}

/* 2.4rems = base font size ✕ 2.4 */
h1 {
    font-size: 4rem; /* equivalent of 24px */
}

/* 2rems = base font size ✕ 2 */
h2 {
    font-size: 2rem; /* equivalent of 20px */
}

h3 {
    font-size: 1.6rem; /* equivalent of 20px */
    margin-bottom: 20px;
}

h4 {
    font-size: 2rem; /* equivalent of 20px */
    margin-bottom: 20px;
}

h5 {
    font-size: 1.6rem; /* equivalent of 20px */
}

/* 1.6rems = base font size ✕ 1.6 */
p {
    font-size: 1.6rem; /* equivalent of 16px */
    display: inline;
    line-height: 10px;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

@media (max-width: 450px) {
    h1 {
        font-size: 3rem;
    }
}

